<style>
    .toolbar {
        background-color: #1fd163;
        color: rgb(230, 244, 248);
        font-weight: 600;
    }

    h1 {
        margin: 0;
    }

    .count {
        margin-left: 5px;
        font-size: 10px;
        background-color: #20D163;
    }

    .navButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 140px;
    }
</style>

<header>
    <div class="navbar shadow-sm toolbar">
        <h1>Naturalia</h1>
        <div class="navButtons">
            <button routerLink="cart" mat-raised-button color="accent">
                <i class="fas fa-cart-plus"></i>
                <div class="badge count">{{totalItem}}</div>
            </button>
            <button mat-raised-button color="accent">
                <i class="fas fa-user" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</header>