<style>
    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1fd163;
        color: rgb(230, 244, 248);
        font-weight: 600;
    }

    h1 {
        margin: 0;
    }
</style>

<div class="toolbar" role="banner">
    <h1>Naturalia</h1>
    <button mat-raised-button color="accent" class="button-cart">
        <i class="fas fa-shopping-cart"></i>
    </button>
</div>