<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 0;
  }

  .spacer {
    width: 4em;
  }

  h1,
  h2 {
    margin: 0;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1fd163;
    color: rgb(230, 244, 248);
    font-weight: 600;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    background-color: #c7eed6;
    color: rgb(249, 254, 255);
    font-weight: 600;
  }

  .spacer {
    max-width: 20px;
  }

  div {
    margin: 0;
  }

  .item-container {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .button-cart {
    padding: 1em;
  }

  app-storeitem {
    margin: 1em;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>Naturalia</h1>
  <button mat-raised-button color="accent" class="button-cart">
    <i class="fas fa-shopping-cart"></i>
  </button>
</div>

<div class="content" role="main">
  <div class="item-container">
    <div *ngFor="let item of items; let i = index">
      <div *ngIf="i % 5 == 0" class="item-row">
        <app-storeitem [item]="item"></app-storeitem>
        <app-storeitem *ngIf="i + 1 < items.length" [item]="items[i + 1]"></app-storeitem>
        <app-storeitem *ngIf="i + 2 < items.length" [item]="items[i + 2]"></app-storeitem>
        <app-storeitem *ngIf="i + 3 < items.length" [item]="items[i + 3]"></app-storeitem>
        <app-storeitem *ngIf="i + 4 < items.length" [item]="items[i + 4]"></app-storeitem>
      </div>
    </div>
  </div>
</div>

<div class="footer" role="banner">
  <h2>Copyright 2021</h2>
  <div class="spacer"></div>
</div>

<router-outlet></router-outlet>